/* You can add global styles to this file, and also import other style files */

@import "tailwindcss";
@import "./app/styles/units.css";

body {
    font-family: Roboto, Helvetica, Arial, sans-serif;
}

button { cursor: pointer; }

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px rgba(128, 128, 128, 0.405); 
  border-radius: 6px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: rgba(37, 79, 150, .5); 
  border-radius: 6px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgb(37, 79, 150);
  cursor: pointer; 
}

.no-select {
  -webkit-user-select: none; /* Safari, Chrome, Opera, Edge */
  -moz-user-select: none;    /* Firefox */
  -ms-user-select: none;     /* IE 10+ */
  user-select: none;         
}
